<p>{{ workspaceName }}</p>
<cdk-virtual-scroll-viewport
  itemSize="48"
  [minBufferPx]="48 * 50"
  [maxBufferPx]="4800"
>
  <ng-container *cdkVirtualFor="let item of fullDataSource"></ng-container>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div [ngClass]="{ selected: node.id === selectedNode }">
        <button mat-icon-button disabled>&nbsp;</button>
        <button (click)="selectNode(node)" mat-button>{{ node.name }}</button>
      </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
    >
      <div [ngClass]="{ selected: node.id === selectedNode }">
        <button
          mat-icon-button
          matTreeNodeToggle
          (click)="toggleExpand(node)"
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ node.isExpanded ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <button (click)="selectNode(node)" mat-button>{{ node.name }}</button>
      </div>
    </mat-tree-node>
  </mat-tree>
</cdk-virtual-scroll-viewport>
