<mat-form-field>
  <mat-label>Select Location</mat-label>
  <mat-select [value]="locationId" (selectionChange)="selectionChanged($event)">
    @for (location of locations; track location.id) {
      <mat-option [value]="location.id">{{ location.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<cdk-virtual-scroll-viewport
  itemSize="48"
  [minBufferPx]="48 * 50"
  [maxBufferPx]="4800"
>
  <ng-container *cdkVirtualFor="let item of fullDataSource"></ng-container>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      [ngClass]="{ selected: node.level + ':' + node.node.id === selectedNode }"
    >
      <button
        type="button"
        aria-label="empty disabled"
        mat-icon-button
        disabled
      >
        &nbsp;
      </button>
      <ng-container
        *ngTemplateOutlet="treeNode; context: { $implicit: node }"
      ></ng-container>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      [ngClass]="{ selected: node.level + ':' + node.node.id === selectedNode }"
    >
      <button
        type="button"
        mat-icon-button
        matTreeNodeToggle
        (click)="toggleExpand(node)"
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ node.isExpanded ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <ng-container
        *ngTemplateOutlet="treeNode; context: { $implicit: node }"
      ></ng-container>
    </mat-tree-node>
  </mat-tree>
</cdk-virtual-scroll-viewport>

<ng-template #treeNode let-node>
  @if (node.level + ':' + node.node.id !== editingNode) {
    <button type="button" (click)="selectNode(node)" mat-button>
      {{ node.name }}
    </button>
    @if (editingNode.length === 0) {
      <button
        class="edit-button"
        type="button"
        aria-label="edit"
        mat-icon-button
        (click)="editNode(node)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    }
  } @else {
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="node.name"
        (keyup.enter)="saveNode(node)"
        (keyup.escape)="cancelEdit(node)"
      />
    </mat-form-field>
  }
</ng-template>
