<mat-toolbar color="primary">
  <span>Smart NgRX Demo</span>
  <nav mat-tab-nav-bar [backgroundColor]="'primary'" [tabPanel]="tabPanel">
    <a mat-tab-link [routerLink]="'tree'" [active]="'tree' === activeLink" matTooltip="Tree with standard Mark and Delete">
      Tree
    </a>
    <a mat-tab-link [routerLink]="'memlab'" [active]="'memlab' === activeLink" matTooltip="Used to test for memory leaks">
      MemLab
    </a>
  </nav>
</mat-toolbar>
<div class="container">
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
