<mat-toolbar color="primary">
  <span><a [routerLink]="'home'">Smart NgRX Demo</a></span>
  <nav mat-tab-nav-bar [backgroundColor]="'primary'" [tabPanel]="tabPanel">
    <a mat-tab-link [routerLink]="'tree'" [active]="'tree' === activeLink">
      Tree (Standard)
    </a>
    <a
      mat-tab-link
      [routerLink]="'treeNoRefresh'"
      [active]="'treeNoRefresh' === activeLink"
    >
      Tree (No Refresh)
    </a>
    <a
      mat-tab-link
      [routerLink]="'treeNoDirty'"
      [active]="'treeNoDirty' === activeLink"
    >
      Tree (No Dirty)
    </a>
  </nav>
</mat-toolbar>
<div class="container">
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
